.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter {
  top: 50px;
  overflow: visible;
  position: absolute;
  display: none;
  background: lightgray;
  font-size: 18px;
  cursor: pointer;
}

.header:hover .filter {
  display: block;
}
.fixedDataTableRowLayout_main {
  overflow: visible;
}

.fixedDataTableCellGroupLayout_cellGroupWrapper
  .fixedDataTableCellGroupLayout_cellGroup {
  overflow: visible;
}

.fixedDataTableCellGroupLayout_cellGroup .fixedDataTableCellLayout_main {
  overflow: visible;
}

.fixedDataTableRowLayout_rowWrapper .fixedDataTableRowLayout_main {
  overflow: visible;
}
